# Ignore raw data
# Ignore raw data
Datasets/13F_zip_files/
temp

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore everything in Datasets
Datasets/*

# Keep folder structure
!Datasets/
!Datasets/**/

# Ignore everything again inside
Datasets/**

# Allow final_files folder
!Datasets/final_files/
!Datasets/final_files/*.parquet

# Keep gitkeep if needed
!Datasets/**/.gitkeep

# Ignore .env (contains api keys)
.env

# Ignore test
test/
